# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atomodoro'
      'submenu': [
        {
          'label': 'Kick off!'
          'command': 'atomodoro:start'
        },
        {
          'label': 'Skip break'
          'submenu': [
            {
              'label': 'If you\'re sure...'
              'command': 'atomodoro:skip'
            }
          ]
        }
      ]
    ]
  }
]
