# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle pompomodoro'
      'command': 'pompomodoro:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'pompomodoro'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'pompomodoro:toggle'
        },
        {
          'label': 'Kick off day!'
          'command': 'pompomodoro:start'
        },
        {
          'label': 'Skip break'
          'submenu': [
            {
              'label': 'If you\'re sure...'
              'command': 'pompomodoro:skip'
            }
          ]
        }
      ]
    ]
  }
]
